<div class="flex-container">
    <div class="row">
        <h1 class="flex-item heading wrap" data-text="Janak">
            <span class="chartreuse"> {{name}} </span>
            <span class="white">POOJARY</span>
        </h1>
        <p class="flex-item sub-heading white wrap">
            <span class="abc">Engineer.</span>&nbsp;&nbsp;<span class="dev">Developer.</span>&nbsp;&nbsp;<span
                class="learner">Learner</span>
        </p>
        <div class="avatar-box">
            <img class="avatar-image" [ngStyle]="avaterHeight" src="assets/Janak_nbg.svg" alt="janak" />
        </div>
    </div>
</div>