.ht100 {
    height: 100%;
}

.wrap{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.heading{
    font-family: 'Raleway', sans-serif;
    font-size: clamp( 2.5rem, 9vw, 7rem);
}

.sub-heading{
    font-family: 'Prompt', sans-serif;
    font-size: 2rem;
}

.chartreuse{
    color:chartreuse;
}

.white{
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.flex-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: left;
}

.row {
    width: 60%;
    justify-content: center;
}

.flex-item {
    text-align: center;
}

.avatar{
    /* height:clamp( 2rem, 35vw, 30rem); */
    height:clamp( 20rem, 45vw, 47rem);
    position: absolute;
    right: 0px;
    bottom: 0px;
}
